@model TopJobsMVC.Models.JobPost

@{
    ViewBag.Title = "SingleJobPost";
}

<h2 class="text-center my-4">Edit Job Post</h2>

@using (Html.BeginForm("UpdateJobPost", "Employer", "POST"))
{
    @Html.AntiForgeryToken()

    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="card-title">Job Post Information</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.JobPostId)

            <!-- Employer ID - Hidden field -->
            @Html.HiddenFor(model => model.EmployerId)

            <!-- Job Title -->
            <div class="form-group">
                @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Job Details -->
            <div class="form-group">
                @Html.LabelFor(model => model.JobDetails, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.JobDetails, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.JobDetails, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Created Date -->
            <div class="form-group">
                @Html.LabelFor(model => model.CreatedDate, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.CreatedDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.CreatedDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Expiry Date -->
            <div class="form-group">
                @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                    @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Vacancy Details -->
            <div class="form-group">
                @Html.LabelFor(model => model.VacancyDetails, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.VacancyDetails, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VacancyDetails, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Required Skills -->
            <div class="form-group">
                @Html.LabelFor(model => model.RequiredSkills, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.RequiredSkills, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RequiredSkills, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Category -->
            <div class="form-group">
                @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Salary -->
            <div class="form-group">
                @Html.LabelFor(model => model.salary, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.salary, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.salary, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Location -->
            <div class="form-group">
                @Html.LabelFor(model => model.Location, htmlAttributes: new { @class = "control-label" })
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Location, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-primary btn-lg" />
                </div>
            </div>
        </div>
    </div>
}

<div class="mt-3">
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
